.artistsPage{
    border: solid dodgerblue;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.musicPicture{
    border: solid dodgerblue;
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 1em;
    margin: 1em;
}