.expand-library {
    border: solid dodgerblue;
    text-align: center;
    background-color: #f7f7f7;
    font-family: sans-serif;
    height: auto;
  }
  
  .expand-library-form-container {
    border: solid black;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #expand-library-form {
    display: grid;
    place-items: center;
    width: 300px;
    height: 472px;
    padding: 25px;
    background-color: #161616;
    box-shadow: 0px 15px 60px #00ff7f;
    outline: 1px solid #2b9962;
    border-radius: 10px;
  }
  
  #expand-library-form-body {
    width: 230px;
  }
  
  #expand-library-welcome-lines {
    text-align: center;
    line-height: 1;
  }
  
  #expand-library-welcome-line-1 {
    color: #00ff7f;
    font-weight: 600;
    font-size: 40px;
  }
  
  #expand-library-welcome-line-2 {
    color: #ffffff;
    font-size: 18px;
    margin-top: 17px;
  }
  
  #expand-library-input-area {
    margin-top: 1em;
  }
  
  .expand-library-form-inp {
    padding: 11px 25px;
    background: transparent;
    border: 1px solid #e3e3e3;
    line-height: 1;
    border-radius: 8px;
    margin-top: 1em;
  }
  
  .expand-library-form-inp:focus {
    border: 1px solid #00ff7f;
  }
  
  .expand-library-form-inp:first-child {
    margin-bottom: 15px;
  }
  
  .expand-library-form-inp input {
    width: 100%;
    background: none;
    font-size: 13.4px;
    color: #00ff7f;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .expand-library-form-inp input:focus {
    outline: none;
  }
  
  #expand-library-submit-button-cvr {
    margin-top: 20px;
  }
  
  #expand-library-submit-button {
    display: block;
    width: 100%;
    color: #00ff7f;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid #00ff7f;
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  
  #expand-library-submit-button:hover {
    transition: all ease-in-out 0.3s;
    background-color: #00ff7f;
    color: #161616;
    cursor: pointer;
  }
  
  .expand-library-main-container {
      border: solid black;
      height: auto; 
      display: flex;
      flex-wrap: wrap; 
      justify-content: space-evenly; 
      align-items: center; 
      gap: 20px; 
      padding: 20px; 
    }
    
    .expand-library-music-library {
      border: solid blue;
      height: 400px; 
      width: 100%; 
      max-width: 300px; 
      padding: 20px; 
      text-align: center; 
      flex: 1 1 300px; 
    }
    
    .expand-library-musicPicture {
      height: 200px; 
      width: 200px; 
      object-fit: cover; 
    }
    
  